.form-group {
    display: flex;
    flex-direction: column;
    margin-block: 20px;
    margin-inline: 2vw;
}

.form-group > label {
    color: #333333;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 400;
}

.form-group > input {
    height: 56px;
    padding-inline: 20px;
    border-color: transparent;
    border: 1px solid #828282;
    border-radius: 8px;
}

.form-group > input::placeholder {
    color: #828282;
    font-size: 14px;
    font-weight: 500;
}


input:focus {
    outline: 1px solid #2962FF;  
}

.default-label-focus-color {
    color: #2962FF;
}

.error-label-color {
    color: #D32F2F;
}

.default {
    border: 1px solid #828282;
}

.error {
    outline: 1px solid #D32F2F;
    border-color: transparent;
}

.error-focus:focus{
    outline: 1px solid #D32F2F;
}

.disabled:disabled{
    border: 1px solid #E0E0E0;
    background-color: #F2F2F2;
}

.helper-text {
    font-size: 10px;
    font-weight: 400;
    color: #828282;
    margin-top: 5px;
}

/* .full-width{
    width: 5vw;
} */